<% if current_user %>
  <div class="pull-right"><%= link_to "Sign Out", signout_path %></div>
<% end %>
<div>
  <%= "Welcome #{@user.first_name}" %></br>
  <%= link_to "Take her for another spin?", countries_path %>
  <div>
    <p><%= "Oh the places you'll go..." %></p>
  </div>
  <ul>
    <% @countries.each do |country| %>
      <li>
        <%= link_to "#{country.name}", user_country_path(@user, country) %>
      </li> 
    <% end %>
  </ul>
</div>
