<div class=well>
  <%= form_tag signin_path do |f| %>

    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email %>

    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password, "" %>

    <%= submit_tag "Sign In" %>

  <% end %>


  <%= link_to "Sign Up", sign_up_path %>
</div>
